<h1>About</h1>

Proudly powered by <a href="https://leafletjs.com" target="_blank" rel="noreferrer">Leaflet</a>.
<a href="https://weirdgloop.org/licensing/" target="_blank" rel="noreferrer">License</a>.
<a href="https://oldschool.runescape.wiki/w/RuneScape:Map" target="_blank" rel="noreferrer">Project info</a>.
