<div id="search">
	<input type="text" name="search" id="search--input" placeholder="Type to search, or click the map to start" aria-label="Search"/>

	<ul id="search--results" class="hidden"></ul>
	<div id="search--results-empty" class="hidden">
		<p>No results found.</p>
	</div>

	<div id="search--details" class="hidden">
		<span id="search--details__back" class="prev">Back to results</span>
		<p id="search--details__description"></p>
		<div id="search--details__buttons">
			<button id="search--details__button-directions">Directions</button>
			<button id="search--details__button-wiki" class="light next">Open the wiki</button>
		</div>
	</div>


	<div id="directions--overview" class="hidden">
		<span id="directions--overview__back" class="prev">Back to results</span>
		<div id="directions--overview__locations">
			<div class="location start">
				<span class="legend">Start:</span>
				<span id="directions--overview__locations-start" class="name">Lumbridge Castle, Lumbridge</span>
			</div>
			<div class="location end">
				<span class="legend">End:</span>
				<span id="directions--overview__locations-end" class="name">Grand Exchange, Varrock</span>
			</div>
		</div>

		<ul id="directions--overview__results">

		</ul>
	</div>

	<div id="directions--details" class="hidden">
		<div id="directions--details__back">
			<p class="legend">Details for</p>
			<p>route <span id="directions--details__name" class="name">Lodestone Network</span> <span id="directions--details__duration" class="duration">(27 sec)</span></p>
		</div>
		<ul id="directions--details__steps">
			<li class="start">Lumbridge Castle</li>
			<li>Cast <a href="#">Home Teleport</a> to the Edgeville Lodestone</li>
			<li class="walk">Walk</li>
			<li>Use the <a href="#">Agility shortcut</a> under the wall (requires 21 Agility)</li>
			<li class="walk">Walk</li>
			<li class="end">Grand Exchange</li>
		</ul>
	</div>
</div>
