<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doogle Maps</title>
	<meta charset="utf-8" />
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src https:"> -->
	<!-- <meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin"> -->

	<link rel="preload" href="assets/js/app.js" as="script"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="manifest.json">

	<meta name="description" content="RuneScape Maps created by the RuneScape Wiki team.">
	<meta name="keywords" content="runescape, rs, map, maps, osrs, cartographer, rs3, runescape map, wiki, npcs, locations, monsters, path, pathfind"/>
	<meta name="author" content="RuneScape Wiki team">
	<meta property="og:title" content="RuneScape Maps" />
	<meta property="og:description" content="RuneScape Maps created by the RuneScape Wiki team." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://maps.runescape.wiki/" />
	<!-- <meta property="og:image" content="https://....png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="300" /> -->

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="RuneScape Maps" />
	<meta name="twitter:description" content="RuneScape Maps created by the RuneScape Wiki team." />
	<meta name="twitter:url" content="https://maps.runescape.wiki/" />
	<!-- <meta name="twitter:image" content="https://....png" /> -->

	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<!-- Can not use integrity hash for fonts.googleapis.com, url differs depending on browser -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" crossorigin="anonymous" />

	<!-- <link rel="stylesheet" href="assets/css/leaflet.css" />
	<link rel="stylesheet" href="assets/css/leaflet.fullscreen.css" /> -->

	<link rel="stylesheet" href="assets/css/main.min.css" />
</head>
<body>

	{% block content %}{% endblock %}

	<!-- Scripts -->
	<script src="assets/js/app.min.js"></script>

</body>
</html>
