<div id="notice">

    <p id="notice-box">
      <span onclick="document.getElementById('notice').style.display='none';" style="cursor: pointer;">[hide]</span>
      This product is still in development.<br />
      Join us on: <a href="https://discordapp.com/invite/runescapewiki" target="_blank">Discord #cartogrophers</a>.
    </p>
</div>
