
/* Tab */

	.tabs {
		display: flex;
	}

	.tabs__navigation {
		flex: 2 1 0;
		background-color: $modal-bg-color;
		padding: $modal-padding-vertical 0;
		overflow: auto;
		border-right: $modal-border;

		@include breakpoint('<=xsmall') {
			flex: 3 1 0 !important;
		}

		li {
			width: 100%;
			padding: $modal-padding-vertical/2 $modal-padding-horizontal;
			cursor: pointer;
			transition:
				color #{_duration(transition)} ease,
				border-color #{_duration(transition)} ease;

			@include breakpoint('<=xsmall') {
				padding: $modal-padding-vertical $modal-padding-horizontal !important;
			}

			&:hover {
				color: _palette(highlight);
			}

			&.active {
				font-weight: bold;

				&:after {
					content: '\f054';
					font-family: FontAwesome;
					font-size: 0.8em;
					line-height: 2em;
					float: right;
				}
			}

			&.disabled {
				color: #d1d5db;

				&:hover {
					// cursor: default;
					color: #b0b4b8;
				}
			}

			&.separator {
				margin: 10px 0;
				padding: 0;
				border-top: $modal-border;
				cursor: default;
			}
		}
	}

	.tabs__content {
		flex: 4 1 0;
		padding: $modal-padding;
		overflow: auto;

		div {
			display: none;

			&.active {
				display: inline-block;
			}
		}

		h1 {
			font-size: 1.5rem;
			font-weight: bold;
			letter-spacing: normal;
		}
	}