<div class="modal" id="modal-{{ id }}" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ id }}-title" >
			<header class="modal__header">
				<h2 class="modal__title" id="modal-{{ id }}-title">
					{{ name }}
				</h2>

				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>

			<main class="modal__content tabs" id="modal-{{ id }}-content" data-tab-menu="{{ id }}">
				<nav class="tabs__navigation">
					<ul>
						{% block nav %}
							{% for item in tabs %}
								{% if item.id %}
									<li data-tab="{{ item.id }}" {% if item.disabled %}class="disabled"{% endif %}>{{ item.name }}</li>
								{% else %}
									<li class="separator"></li>
								{% endif %}
							{% endfor %}
						{% endblock %}
					</ul>
				</nav>
				<div class="tabs__content">
					{% block pages %}
						{% for item in tabs %}
							{% if item.id %}
								<div id="tab-{{ id }}-{{ item.id }}">
									{% include "partials/modals/" + id + "/" + item.id + ".html" ignore missing %}
								</div>
							{% endif %}
						{% endfor %}
					{% endblock %}
				</div>
			</main>

		</div>
	</div>
</div>